<html>
    <body>
        <form action="/areaRettangolo2" method = 'POST'>
            inserisci la base: <br>
            <input type = 'text' name = 'base'><br><br>
            inserisci l altezza: <br>
            <input type = 'text' name = 'altezza'><br><br>
            <label><input type="radio" name="name" value="diagonale"/>Diagonale</label><br>
            <label><input type="radio" name="name" value="area"/>Area</label><br>
            <input type="submit" value='invia'>
        </form>
    </body>
</html>
